@import "tailwindcss";
@import "tw-animate-css";
import '@rainbow-me/rainbowkit/styles.css';

/* Styles fro FanTicket Web */

@layer base {
  :root {
    --font-inter: "Inter", sans-serif;
    --font-roboto: "Roboto", sans-serif;
  }

  body {
    font-family: var(--font-inter);
  }
}

@media (pointer: coarse) {
  *:hover {
    animation: none !important;
    transition: none !important;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}


@utility px-mobile {
  @apply px-[2.4rem];
}

@utility px-tablet {
  @apply px-[4.8rem];
}

@utility px-desktop {
  @apply px-[6.4rem];
}

@utility flex-center {
  @apply flex flex-row items-center justify-center;
}

@utility flex-start {
  @apply flex flex-row items-start justify-start;
}

@utility flex-center-col {
  @apply flex flex-col items-center justify-center;
}

@utility flex-start-col {
  @apply flex flex-col items-start justify-center;
}

@utility flex-begin-col {
  @apply flex flex-col items-start justify-start;
}

@utility flex-between {
  @apply flex flex-row items-center justify-between;
}

@utility flex-around {
  @apply flex flex-row items-center justify-around;
}

@utility flex-between-col {
  @apply flex flex-col items-center justify-between;
}

@utility h1-small {
  @apply font-medium text-[5.7rem] leading-[115%] tracking-[-1.075px] font-[roboto];
}

@utility h2-medium {
  @apply font-medium text-[4.3rem] leading-[110%] tracking-[-1.075px] font-[roboto];
}

@utility h2-normal {
  @apply font-normal text-[4.3rem] leading-[110%] tracking-[-1.075px] font-[roboto];
}

@utility subtitle-semibold {
  @apply font-semibold text-[3.2rem] leading-[130%] tracking-[-0.8px] font-[roboto];
}

@utility subtitle-medium {
  @apply font-medium text-[3.2rem] leading-[130%] tracking-[-0.48px] font-[roboto];
}

@utility subtitle-normal {
  @apply font-normal text-[3.2rem] leading-[130%] tracking-[-0.8px] font-[roboto];
}

@utility paragraph-24-semibold {
  @apply font-semibold text-[2.4rem] leading-[140%] tracking-[-0.48px] font-[inter];
}

@utility paragraph-24-medium {
  @apply font-medium text-[2.4rem] leading-[140%] tracking-[-0.48px] font-[inter];
}

@utility paragraph-24-normal {
  @apply font-normal text-[2.4rem] leading-[140%] tracking-[-0.48px] font-[inter];
}

@utility paragraph-18-semibold {
  @apply font-semibold text-[1.8rem] leading-[150%] tracking-[-0.36px] font-[inter];
}

@utility paragraph-18-medium {
  @apply font-medium text-[1.8rem] leading-[150%] tracking-[-0.36px] font-[inter];
}

@utility paragraph-18-normal {
  @apply font-normal text-[1.8rem] leading-[150%] tracking-[-0.36px] font-[inter];
}

@utility paragraph-14 {
  @apply font-normal text-[1.4rem] leading-[150%] tracking-[-0.48px] font-[inter];
}

@utility paragraph-10 {
  @apply font-normal text-[1.0rem] leading-[150%] tracking-[-0.27px] font-[inter];
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Media Queries */
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-special: 1280px;
  --breakpoint-xl: 1920px;
  --breakpoint-2xl: 3000px;
  --breakpoint-3xl: 4800px;

  /* Border Radius */
  --radius-4: 0.4rem;
  --radius-8: 0.8rem;
  --radius-12: 1.2rem;
  --radius-16: 1.6rem;
  --radius-20: 2rem;
  --radius-24: 2.4rem;
  --radius-32: 3.2rem;
  --radius-full: 50rem;

  /* Line Heights */
  --leading-98: 98%;
  --leading-105: 105%;
  --leading-100: 100%;
  --leading-110: 110%;
  --leading-115: 115%;
  --leading-130: 130%;
  --leading-140: 140%;
  --leading-150: 150%;

  /* spacing variables (1rem = 10px with html { font-size: 62.5% }) */
  --spacing-2: 0.8rem;
  /*  8px */
  --spacing-3: 1.2rem;
  /* 12px */
  --spacing-4: 1.6rem;
  /* 16px */
  --spacing-5: 2rem;
  /* 20px */
  --spacing-6: 2.4rem;
  /* 24px */
  --spacing-7: 2.8rem;
  /* 28px */
  --spacing-8: 3.2rem;
  /* 32px */
  --spacing-9: 3.6rem;
  /* 36px */
  --spacing-10: 4rem;
  /* 40px */
  --spacing-11: 4.4rem;
  /* 44px */
  --spacing-12: 4.8rem;
  /* 48px */
  --spacing-13: 5.2rem;
  /* 52px */
  --spacing-14: 5.6rem;
  /* 56px */
  --spacing-15: 6rem;
  /* 60px */
  --spacing-16: 6.4rem;
  /* 64px */
  --spacing-17: 6.8rem;
  /* 68px */
  --spacing-18: 7.2rem;
  /* 72px */
  --spacing-19: 7.6rem;
  /* 76px */
  --spacing-20: 8rem;
  /* 80px */
  --spacing-21: 8.4rem;
  /* 84px */
  --spacing-22: 8.8rem;
  /* 88px */
  --spacing-23: 9.2rem;
  /* 92px */
  --spacing-24: 9.6rem;
  /* 96px */

  /* Letter Spacing */
  --tracking-xs: -0.027rem;
  --tracking-sm: -0.036rem;
  --tracking-base: -0.048rem;
  --tracking-md: -0.064rem;
  --tracking-l: -0.08rem;
  --tracking-xl: -0.1075rem;
  --tracking-2xl: -0.171rem;

  /* Font Sizes */
  --text-10: 1rem;
  /* 10px */
  --text-14: 1.4rem;
  /* 14px */
  --text-18: 1.8rem;
  /* 18px */
  --text-24: 2.4rem;
  /* 24px */
  --text-32: 3.2rem;
  /* 32px */
  --text-43: 4.3rem;
  /* 43px */
  --text-57: 5.7rem;
  /* 57px */
  --text-96: 9.6rem;
  /* 96px */
  --text-101: 10.1rem;
  /* 101px */

  /* color */
  --color-black-base: #0A0A0A;
  /* Main background */
  --color-surface-card: #141414;
  /* Card & sidebar background */
  --color-elevate: #1F1F1F;
  /* Inputs, search bar, hover states */
  --color-border: #2E2E2E;
  /* Subtle borders, dividers */
  --color-main-white: #FAFAFA;
  --color-secondary-white: #AFAFAF;
  /* Subtitles, inactive text */

  /* The FanTicket Crimson Palette */
  --color-red-primary: #E63946;
  /* Main buttons, notifications */
  --color-red-hover: #C92532;
  /* Button hover state */
  --color-red-glow: #420D12;
  /* Subtle background glows */

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --shadow-redGlow: 0 4px 20px -2px rgba(230, 57, 70, 0.25);

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }
}

/* Hide scrollbars while keeping functionality */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

*,
*:before,
*:after {
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: oklch(91.68% 0.08 200.01) oklch(97.92% 0 180);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: oklch(97.92% 0 180);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: oklch(91.68% 0.08 200.01);
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: oklch(91.68% 0.08 200.01);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

@media (min-width: 1280px) {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: oklch(91.68% 0.08 200.01) oklch(97.92% 0 180);
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 3px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: oklch(97.92% 0 180);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background: oklch(91.68% 0.08 200.01);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    transition: all 0.3s ease-out;
    background: oklch(91.68% 0.08 200.01);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
  }
}

/* ShadCN Styles */

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}